* {
    margin: 0;
    padding: 0;
} 

body {
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #A21563;
    font-weight: bold;
}

.site-container_header {
    height: 50px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.site-container_header_name { 
    text-align: center;
    width: 20%;
    font-weight: 700;
    display: flex;
    flex-direction: row-reverse;
    
}

.site-container_header_text {
    
    margin-top: 3px;
    
}

.site-container_header_photo {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border-radius: 100px;
    opacity: 0.75;
}

.site-container_header_nav {
    
    width: 40%;
}

.site-container_header_nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 25px;
    
}

.site-container_header_nav-ul-li {
    
    flex: auto;
    text-align: center;
    text-decoration: none;
    list-style: none;
    align-self: center;
}

.site-container_intro {
background-color: coral;
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 100vh;
}

.site-container_intro-text {
    
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 40px;
    font-size: 25px;
    max-width: 700px;
}

.site-container_intro-text h1 {
    padding-bottom: 10px;
    font-size: 40px;
    text-align: center;
}

.site-container_intro-text p {
    padding-bottom: 10px;
    padding-top: 10px;
}

.site-container_intro-text-link {
    text-align: center;
    
}

.site-container_intro-text-link a {
    text-decoration: none;
    border: 5px solid black;
}

.site-container_about {
    background-color: black;
}

.site-container_workareas {
    background-color: yellow;
}

.site-container_contact {
    background-color: slategrey;
}

.site-container_contact {
    background-color: slateblue;
}

.site-container_footer {
    background-color: seagreen;
}