* {
    margin: 0;
    padding: 0;
} 

body {
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #A21563;
    font-weight: bold;
}

.site-container_header {
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
}

.site-container_header_name { 
    text-align: center;
    font-weight: 700;
    width: fit-content;
    margin-left: 10px;
}

.site-container_header_text {
    
    margin-top: 3px;
    margin-right: 2px;
    margin-left: -4px;
}

.site-container_header_nav {
    width: fit-content;
    line-height: 18px;
}


.site-container_header_nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 7.5px;
    
}

.site-container_header_nav-ul-li {
    padding-right: 10px;
    flex: auto;
    text-align: center;
    text-decoration: none;
    list-style: none;
    align-self: center;
}


.site-container_intro {
    /* background-color: coral; */
    background-color: grey;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    }
    
.site-container_intro-text {
        
        display: flex;
        flex-direction: column;
        align-content: space-between;
        margin-top: 40px;
        font-size: 17px;
        
        max-width: 400px;
    }
    
.site-container_intro-text h1 {
        padding-bottom: 10px;
        font-size: 32px;
        
    }
    
.site-container_intro-text p {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
.site-container_intro-text-link {
        
        
    }
    
.site-container_intro-text-link a {
        text-decoration: none;
        border: 5px solid black;
    }

.site-container_about {
    background-color: white;
    height: 100%;
}

.site-container_about_desc {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.site-container_about_desc h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.site-container_about_desc p {
    font-size: 15px;
    font-weight: 600;
    padding: 0px 20px;
}

.site-container_workareas {
    background-color: white;
}

.site-container_workareas-areas_icons {
    width: 50px;
    height: 50px;
}

.site-container_contact {
    background-color: slateblue;
}

.site-container_footer {
    background-color: seagreen;
}