* {
    margin: 0;
    padding: 0;
} 

body {
    background-color: #FFFFFF;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #A21563;
    font-weight: normal;
}

.site-container_header {
    height: 50px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.site-container_header_name { 
    text-align: center;
    font-weight: 700;
    width: fit-content;
    margin-left: 10px;
}

.site-container_header_nav {
    width: fit-content;
    
}


.site-container_header_nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 25px;
    
}

.site-container_header_nav-ul-li {
    padding-right: 10px;
    flex: auto;
    text-align: center;
    text-decoration: none;
    list-style: none;
    align-self: center;
}

.site-container_intro {
background-color: coral;
}

.site-container_about {
    background-color: black;
}

.site-container_workareas {
    background-color: yellow;
}

.site-container_contact {
    background-color: slategrey;
}

.site-container_contact {
    background-color: slateblue;
}

.site-container_footer {
    background-color: seagreen;
}