### Exclude these folders
./resources/*
./resources/images/
./resources/images/*
./firebase/*
./firebase/
./public/*
./public/

### Exclude these files types
*.jpg
*.png
*.pdf
*.svg

### Exclude this specific file

./firebase.json
./.firebaserc
