# Exclude these folders
./resources/*
./resources/images/
./resources/images/*
./firebase/*
./firebase/
/node_modules/
/luandesouza/


# Exclude these files types
*.jpg
*.png
*.pdf
*.svg

# Exclude this specific file

/firebase.json
/.firebaserc
/package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yanr-error.log*
firebase-debug.log*

# Firebase cache
.firebase/
node_modules
